<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">
	
	<servlet>
		<servlet-name>AddNumbersServlet</servlet-name>
		<servlet-class>cz.mencik.ws.server.AddNumbersImpl</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>AddNumbersServlet</servlet-name>
		<url-pattern>/AddNumbers</url-pattern>
	</servlet-mapping>
	
</web-app>